* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("..\Water.png");
}

h1 {
    font-family: Arial;
    text-align: center;
    font-size: 20;
}

h2 {
    font-family: Arial;
    font-size: 18;
}

h3 {
    font-family: Arial;
    font-size: 17;
}

h4 {
    font-family: Arial;
    font-size: 16;
}

h5 {
    font-family: Arial;
    font-size: 15;
}

h6 {
    font-family: Arial;
    font-size: 14;
}

p {
    font-family: Arial;
    font-size: 12;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
}

header {
    background-color: #383434;
    color: #fff;
    padding: 10px 0;
}

#logo img {
    float: left;
    width: 80px;
}

nav {
    float: right;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    .nav-links li {
        display: inline-block;
        margin-left: 20px;
    }

        .nav-links li a {
            color: lightblue;
            text-decoration: none;
            padding: 10px 15px;
            display: inline-block;
            transition: background-color 0.3s;
        }

            .nav-links li a:hover {
                background-color: #555;
            }

.content {
    padding: 50px 0;
    text-align: center;
}

.skippity_rock #appicon{
    font-family: Arial;
    border-radius: 40px;
    filter: drop-shadow(0 0 0.75rem grey);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
}

/* Create two equal columns that floats next to each other */
#left {
    float: left;
    width: 25%;
    padding: 10px;
}

#right {
    float: left;
    width: 75%;
    padding: 10px;
}

@media screen and (max-width: 800px) {
    #right {
        width: 100%;
    }
    #left {
        width: 100%;
    }
}

/* Clear floats after the columns */
#row:after {
    content: "";
    display: table;
    clear: both;
}

/* Slideshow*/

#slideshow{
    margin: 5%;
}
.slideshow-container {
    max-width: 75%;
    position: relative;
    margin: 0%;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

/* Number text (1/4 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 3px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .active, .dot:hover {
        background-color: #717171;
    }

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

#pitch_text{
    text-align: left;
    padding: 10px 25px;
}

.footer {
    background-color: #383434;
    color: white;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
}

.contact {
    border: solid 2px;
    margin: auto;
    padding: 50px;
    height: 80%;
    width: 80%;
    border-radius: 50px;
    text-align: center;
}

.contact a{
    color: black;
}

#icon {
    height: 15px;
}

    .footer p {
        padding-left: 10px;
    }
