* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("Water.png"), url("Sky.png");
    background-repeat: repeat-x, repeat-x;
    background-position-y: 400px, 0;
    background-color: black;
    background-size: 100px, 600px;
}

h1 {
    font-family: "Modern Antiqua", Arial, sans-serif;
    text-align: center;
    font-size: 2em;
    color: white;
}

h2 {
    font-family: "Modern Antiqua", Arial, sans-serif;
    font-size: 1.8em;
    color: white;
}

h3 {
    font-family: "Modern Antiqua", Arial, sans-serif;
    font-size: 1.7em;
    color: white;
}

h4 {
    font-family: "Modern Antiqua", Arial, sans-serif;
    font-size: 1.6em;
    color: white;
}

h5 {
    font-family: "Modern Antiqua", Arial, sans-serif;
    font-size: 1.5em;
    color: white;
}

h6 {
    font-family: "Modern Antiqua", Arial, sans-serif;
    font-size: 1.4em;
    color: white;
}

p {
    font-family: "Titillium Web", Arial, sans-serif;
    font-size: 1.2rem;
    color: white;
}

#index p {
    font-family: "Playwrite HU", Arial, sans-serif;
    text-align: center;
}

#right p {
    font-family: "Titillium Web", Arial, sans-serif;
    text-align: left;
}

li {
    font-family: "Titillium Web", Arial, sans-serif;
    font-size: 1.2em;
    color: white;
}

a {
    font-family: "Titillium Web", Arial, sans-serif;
    color: lightblue;
}

button {
    font-family: "Titillium Web", Arial, sans-serif;
    font-weight: bold;
    padding: 3%;
    margin: 1%;
    border: 0px;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.75);
}

button:hover {
    background-color: dimgrey;
    color: white;
}

a.btn, button {
    font-family: "Titillium Web", Arial, sans-serif;
    font-weight: bold;
    padding: 3%;
    margin: 1%;
    border: 0px;
    border-radius: 15px;
    color: unset;
    background-color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
}

a.btn:hover, button:hover {
    background-color: dimgrey;
    color: white;
}


.header {
    max-height: 15%;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
}

header {
    background-color: #383434;
    color: #fff;
    padding: 10px 0;
}

.brandtext {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#logo img {
    float: left;
    width: 80px;
}

nav {
    float: right;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    .nav-links li {
        display: inline-block;
        margin-left: 20px;
    }

        .nav-links li a {
            color: lightblue;
            text-decoration: none;
            padding: 10px 15px;
            display: inline-block;
            transition: background-color 0.3s;
        }

            .nav-links li a:hover {
                background-color: #555;
            }

.placeholderbox {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    bottom: -200px;
}

    .placeholderbox button {
        text-align: center;
        position: relative;
        padding: 0px 0px;
        height: 200px;
        width: 300px;
        bottom: -100px;
        background-color: #383434;
        border-radius: 25px;
        border: 3px solid yellow;
        font-size: 1.5em;
        color: transparent;
    }

        .placeholderbox button:hover {
            background-blend-mode: darken;
            color: lightgrey;
        }

        @media (hover: none) {
            .placeholderbox button::after hover {
                background-blend-mode: darken;
                color: lightgrey;
            }
        }

#DVD {
    background-image: url("DVD_Logo_Game.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#GameJams {
    background-image: url("CHAIR CHAMPIONS (2).png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.content {
    padding: 50px 0;
    text-align: center;
}

.skippity_rock #appicon{
    font-family: Arial;
    border-radius: 40px;
    filter: drop-shadow(0 0 0.75rem grey);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
}

/* Create two equal columns that floats next to each other */

#left {
    float: left;
    width: 25%;
    padding: 10px;
    
    .slideshow-container {
        width: 100%;
        position: relative;
        margin: 0%;
        }
}

#right {
    float: left;
    width: 75%;
    padding: 10px;
}

@media screen and (max-width: 800px) {
    #right {
        width: 100%;
    }

    #left {
        width: 100%;
        .slideshow-container {
            width: 30%;
            position: relative;
            margin: 0%;
        }
    }
}

@media screen and (max-width: 700px) {
    #right {
        width: 100%;
    }

    #left {
        width: 100%;
        .slideshow-container {
            width: 40%;
            position: relative;
            margin: 0%;
            }

}
}


@media screen and (max-width: 600px) {
    #right {
        width: 100%;
    }

    #left {
        width: 100%;
        .slideshow-container {
            width: 50%;
            position: relative;
            margin: 0%;
        }

}
}

/* Clear floats after the columns */
#row:after {
    content: "";
    display: table;
    clear: both;
}

/* Slideshow*/

#slideshow{
    margin: 5%;
}


/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

/* Number text (1/4 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 3px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .active, .dot:hover {
        background-color: #717171;
    }

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

#pitch_text{
    text-align: left;
    padding: 10px 25px;
}

.footer {
    background-color: #383434;
    color: white;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
}

.contact {
    margin: auto;
    padding: 50px;
    height: 80%;
    width: 80%;
    text-align: center;
    bottom: -100px;
    position: relative;
}

#icon {
    height: 15px;
}

    .footer p {
        padding-left: 10px;
    }
